body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.left,
.right {
    display: flex;
}

.left {

}

.right {
    margin-left: auto;
}

ul.nav-bar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    text-decoration: none;
}